/*Eventos  Main  */
.container {
    padding: 15px;
    .card {
        background-color: $color-fondo;
        border: 1px solid gold;
        padding: 20px;
        width: 90%;
        margin: 30px;
    }
}
/* Cierre */