/* Index Main */
section#inicio {
    background-image: url(../img/imgresto.webp);
    background-size: 100% auto;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    .inicio-contenido {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        h1 {
            color: black;
        }
            .boton-reserva {
                @extend %flex-center;
                width: 10%;
                margin: 0 auto;
                background-color: #333;
                color: rgb(255, 255, 255);
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                margin-top: 20px;
            }
    }
    .video0 {
        @include flex(flex,row,center,center);
        margin: 40px;
    }
    }

    #blog {
        padding: 50px 0;
        text-align: center;
        background-color: #212529;
        margin: 10px;
        h2 {
            color: aliceblue;
            margin-bottom: 20px;
        }
        .blog-posts {
            display: flex;
            justify-content: space-around;
            padding: 20px 0;
            .blog-post {
                max-width: 300px;
                padding: 20px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: grey;
            }
            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                font-size: 17px;
            }
            .btn-leer-mas {
                display: inline-block;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                margin-top: 10px;
                :hover {
                    background-color: #555;
                }
            }
        }
    }
/* Cierre */