/* Menu Main */
.text-center {
    color: $color-principal;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
    .menu-section {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        color: black;
        background-color: $color-fondo;
    }
    .precio {
        font-weight: bold;
        color: #FFD700;
    }
}

#carouselExampleIndicators {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.carousel-item img {
    height: 600px;
    width: 400px;
}
/* Cierre */